@page "/counter"

<PageTitle>Components</PageTitle>

<h1>Átomos</h1>

<MudIcon Icon="@Icons.Material.Outlined.Settings" Size="Size.Small"></MudIcon>
<MudIcon Icon="@Icons.Material.Outlined.Logout"></MudIcon>
<MudIcon Icon="@Icons.Material.Outlined.People"></MudIcon>
<MudIcon Icon="@Icons.Material.Outlined.FoodBank"></MudIcon>
<MudIcon Icon="@Icons.Material.Filled.Logout" Size="Size.Small"></MudIcon>



@code {

}