@page "/patients"

<nav class="mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ">
            <a class="bi bi-arrow-left" href="/">Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pacientes</li>
    </ol>
</nav>

@if (PatientsCollection.Any())
{
    <MudTable Items="@PatientsCollection"
              Hover="true"
              Striped="true"
              Filter="new Func<Element, bool>(FilterFunc1)"
              @bind-SelectedItem="_selectedItem1"
              Outlined="false"
              Elevation="0"
              Class="px-5 py-3 rounded-3">
        <ToolBarContent>
            <h2 class="fw-bold">Pacientes</h2>
            <MudSpacer></MudSpacer>
            <div class="wrapper">
                <div class="searchBar">
                    <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Buscar un paciente" @bind="SearchString1"/>
                    <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div>
                <MudButton
                    Size="Size.Small"
                    Color="Color.Primary"
                    StartIcon="@Icons.Material.Outlined.AddCircle"
                    Variant="Variant.Filled"
                    Href="/patients/add"
                    DisableElevation="true"
                    Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
                    Añadir un paciente
                </MudButton>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>#</MudTh>
            <MudTh>Nombre</MudTh>
            <MudTh>Sexo</MudTh>
            <MudTh>Edad</MudTh>
            <MudTh>Dirección</MudTh>
            <MudTh>Última consulta</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="#">1</MudTd>
            <MudTd DataLabel="Nombre">@context.Name</MudTd>
            <MudTd DataLabel="Sexo">@context.Sex</MudTd>
            <MudTd DataLabel="Edad">@context.Edad</MudTd>
            <MudTd DataLabel="Dirección">@context.Direccion</MudTd>
            <MudTd DataLabel="Última consulta">@context.UltimaConsulta</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
}

else
{
    <EmptyPatientList></EmptyPatientList>
}


@code {

    private string SearchString1 { get; set; } = "";
    private Element _selectedItem1 = new();
    private HashSet<Element> selectedItems = new HashSet<Element>();

    public IEnumerable<Element> PatientsCollection = new List<Element>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        PatientsCollection = new List<Element>()
        {
            new Element()
            {
                Name = "Ariel Pinto",
                Sex = "Masculino",
                Edad = 19,
                Direccion = "La Serena",
                UltimaConsulta = "27 de noviembre"
            },
            new Element()
            {
                Name = "Carolina Soto",
                Sex = "Femenino",
                Edad = 25,
                Direccion = "Santiago",
                UltimaConsulta = "15 de octubre"
            },
            new Element()
            {
                Name = "Martín Torres",
                Sex = "Masculino",
                Edad = 32,
                Direccion = "Valparaíso",
                UltimaConsulta = "10 de diciembre"
            },
            new Element()
            {
                Name = "Camila Araya",
                Sex = "Femenino",
                Edad = 22,
                Direccion = "Concepción",
                UltimaConsulta = "5 de noviembre"
            },
            // Puedes agregar más elementos según sea necesario
        };
    }


    private bool FilterFunc1(Element element) => FilterFunc(element, SearchString1);

    private bool FilterFunc(Element element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    public class Element
    {
        public string? Name { get; set; }
        public string? Sex { get; set; }
        public int Edad { get; set; }
        public string? Direccion { get; set; }
        public string? UltimaConsulta { get; set; }
    }

}