@using NutriFoods_UI.Utils.Enums
@using NutriFoods_UI.Services
@using NutriFoods_UI.Data
@inject NavigationManager Nav
@inject IPatientService PatientService

<MudPaper Class="d-flex flex-column px-10 py-5 gap-4" Elevation="0" MaxWidth="900px">
    <MudForm>
        <MudStack Spacing="3">
            <div class="d-flex flex-column gap-2">
                <h2 class="fw-bold">Nueva consulta</h2>
            </div>
            <MudDivider></MudDivider>

            <MudGrid>
                <MudItem md="6">
                    <div class="subtitle">
                        <h3>General</h3>
                    </div>
                </MudItem>
                <MudItem md="6">
                    <MudStack>
                        <MudSelectExtended T="string"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Label="Tipo de Consulta"
                                           Placeholder="Seleccione un tipo de consulta"
                                           Required="true"
                                           AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in ConsultationTypesCollection)
                            {
                                <MudSelectItemExtended Value="@item.ReadableName">@item.ReadableName</MudSelectItemExtended>
                            }
                        </MudSelectExtended>
                        <MudSelectExtended T="string"
                                           Variant="Variant.Outlined"
                                           Margin="Margin.Dense"
                                           Label="Propósito"
                                           Placeholder="Seleccione un proposito"
                                           Required="true"
                                           AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in ConsultationPurposesCollection)
                            {
                                <MudSelectItemExtended Value="@item.ReadableName">@item.ReadableName</MudSelectItemExtended>
                            }
                        </MudSelectExtended>
                    </MudStack>

                </MudItem>

            </MudGrid>
            <MudDivider></MudDivider>
            <MudGrid>
                <MudItem md="6">
                    <div class="subtitle">
                        <h3>Anamnesis</h3>
                        <p>Incluye anamnesis clínica, alimentaria y antropométrica</p>
                    </div>
                </MudItem>
                <MudItem md="6">
                    <div>
                        <MudButton Variant="Variant.Outlined"
                                   Color="Color.Primary"
                                   Href="/anamnesis"
                                   Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
                            Iniciar Anamnesis
                        </MudButton>
                    </div>
                </MudItem>
            </MudGrid>


        </MudStack>

        <MudDivider Class="mt-5"></MudDivider>

    </MudForm>

    <MudForm>
        <MudGrid>
            <MudItem md="6">
                <div class="subtitle">
                    <h3>Plan alimenticio</h3>
                    <p>Puedes crear más de uno, para distintos días de la semana</p>
                </div>
            </MudItem>
            <MudItem md="6">
                <div>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Primary"
                               Href="/generate/mealplan"
                               Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
                        Generar un plan alimenticio
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </MudForm>
    
    <MudItem md="6" Class="mt-5">
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="@NavToUserProfile"
                   DisableElevation="true"
                   Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
            Guardar consulta
        </MudButton>
    </MudItem>


</MudPaper>

@code {

    [Parameter] public Guid PatientId { get; set; }

    [Parameter] public Guid NutritionistId { get; set; }


    static ICollection<ConsultationTypes> ConsultationTypesCollection => IEnum<ConsultationTypes, ConsultationTypeToken>
        .TokenDictionary.Select(e => e.Value)
        .Skip(1).ToList();

    static ICollection<ConsultationPurposes> ConsultationPurposesCollection => IEnum<ConsultationPurposes, ConsultationPurposeToken>
        .TokenDictionary.Select(e => e.Value)
        .Skip(1).ToList();

    void NavToUserProfile()
    {
        Nav.NavigateTo($"/patients/profile/{PatientId}");
    }

}