@using Fluxor
@using NutriFoods_UI.Data.Store.Medicines
@inject IDialogService Dialog
@inject IState<MedicineState> MedicineState  
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IDispatcher Dispatcher
@implements IIngestible

<MudGrid Class="px-3 mb-5">
    <MudItem xs="4" Class="flex-column">
        <div class="d-flex align-items-center">
            <CollapseSubtitle Title="Medicamentos"></CollapseSubtitle>  
        </div>
    </MudItem>
    <MudItem xs="8" Class="flex-column">
        @if (MedicineState?.Value.Medicines != null)  
        {
            <div class="medicine-container">  
                @foreach (var time in MedicineState.Value.Medicines.Select((value, index) => new { Value = value, Index = index })) 
                {
                    <div class="medicine-item d-flex mb-3 gap-3">  
                        <span class="index align-self-center">@(time.Index + 1)</span>
                        <div class="medicine-details d-flex rounded-lg border px-3 py-3 gap-3 col-10 align-items-center"> 
                            <span class="medicine-name fw-bold">@time.Value.Name</span>  
                        </div>

                        <div class="medicine-actions d-flex align-items-center gap-1">  
                            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                           Title="Editar medicamento"  
                                           OnClick="() => EditIngestible(time.Index)"  
                                           Size="Size.Small">
                            </MudIconButton>

                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           OnClick="() => DeleteIngestible(time.Index)"  
                                           Title="Eliminar medicamento" 
                                           Size="Size.Small"
                                           Class="animation-button">
                            </MudIconButton>
                        </div>
                    </div>
                }
            </div>
        }
        <div>
            <MudButton
                Size="Size.Small"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Outlined.AddCircle"
                Variant="Variant.Text"
                Style="text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;"
                OnClick="() => AddIngestible()">  
                Añadir un medicamento  
            </MudButton>
        </div>
    </MudItem>
    <span>@MedicineState.Value.Medicines.Count()</span>
</MudGrid>


@code {

    public DialogOptions Options { get; } = new() { NoHeader = true };
    
    public void AddIngestible()
    {
        var parameters = new DialogParameters<MedicineDialog> {{ x => x.ModeType, ModeTypeEnum.Add }};
        Dialog.Show<MedicineDialog>("Custom Options Dialog", parameters, Options);
    }

    public void EditIngestible(int index)
    {
        var parameters = new DialogParameters<MedicineDialog> {{ x => x.Index, index }, 
            {y => y.ModeType, ModeTypeEnum.Edit}};
        Dialog.Show<MedicineDialog>("Editar medicamento", parameters, Options);  
    }

    public void DeleteIngestible(int index)
    {
        var parameters = new DialogParameters<MedicineDialog> {{ x => x.Index, index }};
        Dialog.Show<MedicineDeleteWarning>("¿Estás seguro de eliminar el medicamento?", parameters);
    }

    public void LoadIngestible()
    {
        throw new NotImplementedException();
    }

}
