@using Fluxor
@using NutriFoods_UI.Data.Store.Images
@using NutriFoods_UI.Data.Store.RecipeDialog
@inject IState<RecipeDialogState> RecipeState
@inject IState<ImagesState> ImageState

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column align-center px-3 py-3 ">
            <div class="d-flex flex-wrap flex-grow-1 my-3" style="width: 350px">
                <h5 class="align-self-center" style="font-weight: bold">@RecipeState.Value.MenuRecipe.Recipe.Name</h5>
            </div>
            <div class="image-container">
                <img class="rounded"
                     src="@GetImage(RecipeState.Value.MenuRecipe.Recipe.Name)"
                     alt=""/>
            </div>

            <div class="d-flex gap-3 overlay-chips">
                <MudChip Color="@Color.Primary"
                         Size="Size.Small"
                         Class="py-3"
                         Variant="Variant.Text"
                         Style="font-family: 'Plus Jakarta Sans', sans-serif;font-weight: 700"
                         Icon="@Icons.Material.Filled.AccessTime">
                    @RecipeState.Value.MenuRecipe.Recipe.Time min
                </MudChip>

                <MudChip Color="@Color.Primary"
                         Size="Size.Small"
                         Variant="Variant.Text"
                         Class="py-3"
                         Style="font-family: 'Plus Jakarta Sans', sans-serif;font-weight: 700"
                         Icon="@Icons.Material.Outlined.Person">
                    @RecipeState.Value.MenuRecipe.Recipe.Portions porciones
                </MudChip>

                <MudChip Color="@Color.Primary"
                         Size="Size.Small"
                         Variant="Variant.Text"
                         Class="py-3"
                         Style="font-family: 'Plus Jakarta Sans', sans-serif;font-weight: 700"
                         Icon="@Icons.Material.Outlined.Person">
                    @RecipeState.Value.MenuRecipe.Recipe.Author
                </MudChip>
            </div>

            <MacroListDialog></MacroListDialog>
            
            <MudDivider class="my-5"></MudDivider>
            
            <MudTabs Class="d-flex flex-column tabs-container"
                     Elevation="0"
                     TabHeaderClass="rounded"
                     Outlined="false"
                     Rounded="true"
                     PanelClass="py-6"
                     Style="">
                <MudTabPanel Text="Ingredientes"
                             Style="font-size:1em; text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
                    <IngredientsListDialog></IngredientsListDialog>
                </MudTabPanel>

                <MudTabPanel Text="Receta"
                             Style="font-size:1em; text-transform: none; font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700;">
                    <RecipeStepsList></RecipeStepsList>
                </MudTabPanel>
            </MudTabs>
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Variant="Variant.Text">Salir</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    void Cancel() => MudDialog.Cancel();
    
    string GetImage(string name)
    {
        return ImageState.Value.ImagesDict.TryGetValue(name, out var uri) ? uri : string.Empty;
    }
}

<style>
    .mud-chip.mud-chip-size-small
        {
            font-family: Plus Jakarta Sans, serif;
            font-size: 10px;
            height: 18px;
        
        }
    .overlay-chips {
            position: relative;
            top: 0;
            right: 0;
            margin: 10px 2px; 
        } 
        
</style>