@page "/plan"
@using NutriFoods_UI.Data.Dto

<table class="my-table">
    <thead>
    <tr>
        <th scope="col" class="ml-2" style="width: 300px">Nombre</th>
        <th scope="col" class="ml-9 mr-9">Energía</th>
        <th scope="col" class="ml-3 mr-3">Proteínas</th>
        <th scope="col" class="ml-3 mr-3">Carbohidratos</th>
        <th scope="col" class="ml-3 mr-3">Lípidos</th>
    </tr>
    </thead>
    <tbody class="mt-2">
    @if (Recipes is not null)
    {
        @foreach (var menu in Recipes)
        {
            <tr class="fila-hover" @onmouseover="() => HandleHover(true)" @onmouseout="() => HandleHover(false)" >
                <td>
                    <Recipe Hovered="@IsHovered" Name="@menu.Recipe.Name" Image="https://cdn7.kiwilimon.com/brightcove/6838/640x640/6838.jpg.webp"
                            Portions="@menu.Portions"/>
                </td>
                
                <td>@menu.Recipe.Nutrients.ToList().Find(n => n.Nutrient.Name == "Energía")?.Quantity.ToString("F1") kcal</td>
                <td>@menu.Recipe.Nutrients.ToList().Find(n => n.Nutrient.Name == "Proteína, total")?.Quantity.ToString("F1") g</td>
                <td>@menu.Recipe.Nutrients.ToList().Find(n => n.Nutrient.Name == "Carbohidratos, total")?.Quantity.ToString("F1") g</td>
                <td>@menu.Recipe.Nutrients.ToList().Find(n => n.Nutrient.Name == "Ácidos grasos, total")?.Quantity.ToString("F1") g</td>
            </tr>
        }
    }
    else
    {
        
            <tr>
                <td>
                    <div class="center">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </td>

            </tr>
    }
    </tbody>

</table>


@code {

    [Parameter]
    public IList<MenuRecipeDto>? Recipes { get; set; }
    
    private bool IsHovered { get; set; }

    private void HandleHover(bool isHovered)
    {
        IsHovered = isHovered;
    }
    
}