@using NutriFoods_UI.Utils.Enums
@using NutriFoods_UI.Data.Dto
@using NutriFoods_UI.Utils.Strings

<div class="title-section">
    <div class="d-flex align-center gap-2">
        <RecipeTitle MealName="@MealTypeName"></RecipeTitle>
        @*<MudChip Color="@Color.Primary"
                 Size="Size.Small"
                 Class="py-3"
                 Variant="Variant.Text"
                 Style="font-family: 'Plus Jakarta Sans', sans-serif;font-weight: 700"
                 Icon="@Icons.Material.Filled.AccessTime">
            @Hour
        </MudChip>*@
    </div>
    <DailyMenuPanel Index="@Index"></DailyMenuPanel>
</div>

<MudGrid Spacing="1" Class="px-2 pt-1 pb-3 gap-2">
    @foreach (var target in NutritionalTargets)
    {
        <MudTooltip Arrow="true" Placement="Placement.Right">
            <ChildContent>
                <MudItem md="12" xs="2">
                    <MudChip Color="@Color.Primary"
                             Size="Size.Small"
                             Class="py-3"
                             Variant="Variant.Text"
                             Style="font-family: 'Plus Jakarta Sans', sans-serif;font-weight: 700"
                             Icon="@Icons.Material.Rounded.BarChart">
                        @(GetAlternativeNames(target.Nutrient)): @($"{target.ActualQuantity!:F1}") @target.Unit
                    </MudChip>
                </MudItem>
            </ChildContent>
            <TooltipContent>
                <div style="max-width: 300px">
                    <MudGrid Class="p-1" Justify="Justify.SpaceBetween" Spacing="1">
                        <MudItem md="12">
                            <h3 class="m-0 fw-bold" style="color:white;">Objetivo</h3>
                        </MudItem>
                        <MudItem md="6">
                            <span>Cantidad esperada: </span>
                        </MudItem>
                        <MudItem md="6">
                            <b>@target.ExpectedQuantity</b>
                        </MudItem>
                        <MudItem md="6">
                            <span>Cantidad generada: </span>
                        </MudItem>
                        <MudItem md="6">
                            <b>@target.ActualQuantity</b>
                        </MudItem>
                        <MudItem md="6">
                            <span>Error: </span>
                        </MudItem>
                        <MudItem md="6">
                            <b>@(target.ActualError * 100)%</b>
                        </MudItem>

                    </MudGrid>
                </div>
            </TooltipContent>
        </MudTooltip>
    }
</MudGrid>


@code {

    [Parameter] public string? MealTypeName { get; set; }

    [Parameter] public int Index { get; set; }

    [Parameter] public string Hour { get; set; } = string.Empty;

    [Parameter] public List<NutritionalTargetDto> NutritionalTargets { get; set; } = null!;
    
    string GetAlternativeNames(string name)
    {
        var token = IEnum<Nutrients, NutrientToken>.ToToken(name);
        var enumToken = IEnum<Nutrients, NutrientToken>.ToValue(token);
        
        return enumToken.ReadableName;
    }


}